apiVersion: apps/v1
kind: Deployment
metadata:
  name: swiftkube-dash
  labels:
    app: swiftkube-dash
spec:
  replicas: 1
  selector:
    matchLabels:
      app: swiftkube-dash
  template:
    metadata:
      labels:
        app: swiftkube-dash
    spec:
      serviceAccountName: swiftkube-dash
      automountServiceAccountToken: true
      containers:
      - name: swiftkube-dash
        image: iabudiab/swiftkubedash:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080

